# <center> Working with Python Native Data Structures </center>

- [What are Python Native Data Structures](#section_1)
- [Pandas DataFrame() Function](#section_2)
- [Pandas from_dict() Function](#section_3)

<hr>

### What are Python Native Data Structures <a class="anchor" id="section_1"></a>

The Python programming language has a variety of built-in data structures such as `lists`, `tuples`, `dictionaries`, `strings`, and `sets`.

In [1]:
# Create a Python dictionary
{'country_name':'New Zealand',
 'capital_city':'Wellington',
 'country_code':'NZ',
 'population':4783063,
 'area_km2':270467}

{'country_name': 'New Zealand',
 'capital_city': 'Wellington',
 'country_code': 'NZ',
 'population': 4783063,
 'area_km2': 270467}

In [1]:
# Create a list of country codes
list_of_country_codes = ['CN','NZ','ZA','GB','US']
list_of_country_codes

['CN', 'NZ', 'ZA', 'GB', 'US']

In [2]:
# Create a list of dictionaries
list_of_countries = [
 {'country_name':'China','capital_city':'Beijing','population':1433783686, 'area_km2':9596961},
 {'country_name':'New Zealand','capital_city':'Wellington', 'population':4783063, 'area_km2':270467},
 {'country_name':'South Africa','capital_city':'Pretoria', 'population':58558270, 'area_km2':1221037},
 {'country_name':'United Kingdom','capital_city':'London', 'population':67530172, 'area_km2':242495},
 {'country_name':'United States','capital_city':'Washington DC', 'population':329064917, 'area_km2':9525067}]
list_of_countries

[{'country_name': 'China',
  'capital_city': 'Beijing',
  'population': 1433783686,
  'area_km2': 9596961},
 {'country_name': 'New Zealand',
  'capital_city': 'Wellington',
  'population': 4783063,
  'area_km2': 270467},
 {'country_name': 'South Africa',
  'capital_city': 'Pretoria',
  'population': 58558270,
  'area_km2': 1221037},
 {'country_name': 'United Kingdom',
  'capital_city': 'London',
  'population': 67530172,
  'area_km2': 242495},
 {'country_name': 'United States',
  'capital_city': 'Washington DC',
  'population': 329064917,
  'area_km2': 9525067}]

### Pandas DataFrame() Function <a class="anchor" id="section_2"></a>

In [28]:
# Import Pandas library
import pandas as pd

In [29]:
# Create a Pandas DataFrame from a list of dictionaries
df_countries = pd.DataFrame(list_of_countries)

# Display the DataFrame
df_countries

     country_name   capital_city  population  area_km2
0           China        Beijing  1433783686   9596961
1     New Zealand     Wellington     4783063    270467
2    South Africa       Pretoria    58558270   1221037
3  United Kingdom         London    67530172    242495
4   United States  Washington DC   329064917   9525067

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

In [12]:
# Create a Pandas DataFrame from a list of dictionaries
df_countries = pd.DataFrame(list_of_countries)

# Display the DataFrame
df_countries

     country_name   capital_city  population  area_km2
0           China        Beijing  1433783686   9596961
1     New Zealand     Wellington     4783063    270467
2    South Africa       Pretoria    58558270   1221037
3  United Kingdom         London    67530172    242495
4   United States  Washington DC   329064917   9525067

### Pandas DataFrame.from_dict() Function <a class="anchor" id="section_3"></a>

Another approach is to use a Python dictionary where keys represent column names and values represent Python lists. You can then make use of Pandas from_dict() function to transfer the dictionary into a DataFrame object as shown in this example:

In [24]:
# Create a dictionary where keys represent column names and values represent Python lists.
dictionary_of_countries = {'country_name': ['China', 'New Zealand', 'South Africa', 'United Kingdom', 'United States'],
                           'country_code': ['CN', 'NZ', 'ZA', 'GB', 'US'],
                           'capital_city': ['Beijing', 'Wellington', 'Pretoria', 'London', 'Washington DC'],
                           'population': [1433783686, 4783063, 58558270, 67530172, 329064917],
                           'area_km2': [9596961, 270467, 1221037, 242495, 9525067]}

In [25]:
# Convert a dictionary into a DataFrame using from_dict() function
df_countries = pd.DataFrame.from_dict(dictionary_of_countries)
# Display the DataFrame
df_countries

     country_name country_code   capital_city  population  area_km2
0           China           CN        Beijing  1433783686   9596961
1     New Zealand           NZ     Wellington     4783063    270467
2    South Africa           ZA       Pretoria    58558270   1221037
3  United Kingdom           GB         London    67530172    242495
4   United States           US  Washington DC   329064917   9525067

In the code above, we notice the variable list_of_countries is defined as a Python list with each element representing a Python dictionary of country information. We import the Pandas library and then we use the built-in DataFrame function to transfer the list of countries into a Pandas Dataframe called countries. The pd.DataFrame() is a built-in function to construct DataFrame objects from scratch or from native Python data structures.

Notice how we used the index parameter to pass a list of country codes as our DataFrame index values. We can then examine the new DataFrame object using the built-in head() function to return the top rows. We will learn later about the different ways to examine any DataFrame content.

We notice how the dictionary keys were assigned as the DataFrame column names while dictionary values are assigned as the cells. A numerical index with values between 0 to 4 was automatically assigned to the DataFrame object. The user can choose to pass specific index values by using the index parameter as shown in the example above.

The dictionary key represents the attribute label or title while the dictionary value represents the corresponding information. Pandas library can convert a list of similar dictionaries into a DataFrame object as shown in the example below:

The above examples demonstrated the flexibility of transforming data stored in Python native data structures into Pandas DataFrame objects.