# <center> Getting Started with Pandas </center>

- [Import Pandas Library](#section_1)
- [Check Library Version](#section_2)
- [Anatomy of Pandas Data Structures](#section_3)
- [Understand Pandas Data Types](#section_4)

<hr>

<br>
<br>

### How to Import Pandas Library <a class="anchor" id="section_1"></a>

To start using Pandas in your analysis environment, you need to run the `import` command.

In [1]:
# Import Pandas library
import pandas as pd

### Check Current Version of Pandas library
To check your current version of Pandas library, you can run the `version` command.

In [2]:
# Check Pandas version
pd.__version__

'1.3.4'

### Anatomy of Pandas Data Structures
The two main Pandas data structure objects are:


- **DataFrame** object is a two-dimensional labeled structure that can hold data in rows and columns. 
- **Series** object is a one-dimensional labeled structure with a descriptive name and unique data type

In [63]:
pd.read_csv("sample dataset.csv",
            index_col = 'country_code').head(6)

             country_name  capital_city population_size independence_date
country_code
CN                  China           NaN              10                na
NZ            New Zealand           NaN              20               NaN
ZA                    NaN           NaN              30               NaN
GB                    NaN           NaN         missing               NaN
US                    NaN           NaN         unknown               NaN
AR              Argentina           NaN            none               NaN

In [67]:
pd.read_csv("sample dataset.csv",
            index_col = 0).head(6)

             country_name  capital_city population_size independence_date
country_code
CN                  China           NaN              10                na
NZ            New Zealand           NaN              20               NaN
ZA                    NaN           NaN              30               NaN
GB                    NaN           NaN         missing               NaN
US                    NaN           NaN         unknown               NaN
AR              Argentina           NaN            none               NaN

In [69]:
pd.read_csv("sample dataset.csv",
            index_col = False).head(6)

  country_code country_name  capital_city population_size independence_date
0           CN        China           NaN              10                na
1           NZ  New Zealand           NaN              20               NaN
2           ZA          NaN           NaN              30               NaN
3           GB          NaN           NaN         missing               NaN
4           US          NaN           NaN         unknown               NaN
5           AR    Argentina           NaN            none               NaN