# <center> Getting Started with Pandas </center>

- [Import Pandas Library](#section_1)
- [Check Library Version](#section_2)
- [Anatomy of Pandas Data Structures](#section_3)
- [Understand Pandas Data Types](#section_4)
- [Pandas Syntax Structure](#section_5)

<hr>

### How to Import Pandas Library <a class="anchor" id="section_1"></a>

To start using Pandas in your analysis environment, you need to run the `import` command.

In [1]:
# Import Pandas library
import pandas as pd

### Check Current Version of Pandas library
To check your current version of Pandas library, you can run the `version` command.

In [2]:
# Check Pandas version
pd.__version__

'1.3.4'

<br>
<br>
<br>
<br>
<br>
<br>
<br>

### Anatomy of Pandas Data Structures
The three main Pandas data structure objects are:


- **DataFrame** object is a two-dimensional labeled structure that can hold data in rows and columns. 
- **Series** object is a one-dimensional labeled structure with a descriptive name and unique data type
- **Index** object used for storing axis labels for all Pandas objects.

In [3]:
# Import Sample DataFrame
df_countries = pd.read_csv("sample dataset.csv")

In [4]:
df_countries

  country_code   country_name  capital_city  population_size national_day
0           CN          China       Beijing       1440297825    10/1/1949
1           AR      Argentina  Buenos Aires         45267449     7/9/1816
2           IN          India     New Delhi       1382345085    15/7/1947
3           NG        Nigeria         Abuja        206984347    1/10/1960
4           US  United States    Washington        331341050     4/7/1776

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

In [ ]:
# Assign the "country code" as DataFrame index
df_countries.set_index("country_code")

<br>

In [ ]:
df_countries

In [ ]:
# Display the dimensions of countries DataFrame
df_countries.shape