# <center> Pandas Merging & Joining Data </center>

- [Simple Joining with Concat Function](#section_1)
- [Complex Joining with Merge Function](#section_2)

<hr>

### Pandas Merging & Joining Data <a class="anchor" id="section_0"></a>

In this lesson, we will learn the two most common ways to combine DataFrames in the Pandas library:

* **pd.concat([DataFrame1, DataFrame2]): Simple combining two or more Pandas dataframes in a column-wise or row-wise approach.**

* **pd.merge([DataFrame1, DataFrame2]): Complex column-wise combining of Pandas dataframes in a SQL-like way.**

### Simple Joining with Concat Function <a class="anchor" id="section_1"></a>

The `concat()` function is used to add together one or more DataFrames.

In [1]:
# FIFA World Cup Winning Teams

# Display DataFrame

In [2]:
# Rugby World Cup Winning Teams

# Display DataFrame

In [3]:
# Join the 2 DataFrames using the concat() method

# Display the DataFrame

In [4]:
# Add data source index values to the new DataFrame

# Display the DataFrame

In [5]:
# Ignore old index values in the new DataFrame

# Display the DataFrame

In [6]:
# The new DataFrame will include all original columns

# Display the DataFrame

In [7]:
# The new DataFrame will include all original columns aligned horizontally

# Display the DataFrame

### Complex Joining with Merge Function <a class="anchor" id="section_2"></a>

Pandas `merge()` provides the functionality to join DataFrame and Series objects in a way similar to relational database operations.

In [8]:
# Create left DataFrame

# Create right DataFrame

In [10]:
# Display DataFrame

In [9]:
# Display DataFrame

In [11]:
# Merge the two DataFrames using the common column

# Display the DataFrame

In [12]:
# Merge the two DataFrames using the common column

# Display the DataFrame