# <center> Pandas Data Cleaning </center>

- [Split DataFrame Columns](#section_1)
- [Text Cleaning with Regular Expressions](#section_2)
- [Update Column Datatypes](#section_3)
- [Drop Rows and Columns](#section_4)
- [Rename Columns](#section_5)

<hr>

## Data Cleaning with Pandas

To demonstrate the data cleaning process, we will use a toy DataFrame about countries. Each country has different pieces of information such as name, population, size, and independence date as shown in the code below:

In [15]:
# Import Pandas library

In [1]:
# Create a list of dictionaries

# Create a Pandas DataFrame from a list of dictionaries

# Display the DataFrame

In [2]:
# Display summary of the DataFrame columns

### Split DataFrame Columns <a class="anchor" id="section_1"></a>

The country area column is represented in both square kilometers and square miles. We can use the Pandas built-in split() function to separate this column into two different columns as shown in the following code:

In [3]:
# Apply split() function to separate values into new different columns

# Display DataFrame head

### Text Cleaning with Regular Expressions <a class="anchor" id="section_2"></a>

The following code demonstrates how we replace any non-numeric values using the regular expression (\D+) within the Pandas replace() function.

In [4]:
# Apply regular expression patternto replace any non-numeric values

In [5]:
# Display the DataFrame

## Update Column Datatypes <a class="anchor" id="section_3"></a>

The following code will make use of Pandas astype() function to pass a Python dictionary representing the name of each column and the corresponding data type.

In [6]:
# Change specific columns data types

## Drop Rows and Columns <a class="anchor" id="section_4"></a>

The following code will make use of the Pandas `drop()` and `drop_duplicates()` functions to remove rows and columns by specifying label names and corresponding axes.

In [7]:
# To remove the old country area column

# To remove duplicate row for New Zealand

In [9]:
# Display the DataFrame

In [10]:
# Remove duplicated records using drop_duplicates() function

## Rename Columns <a class="anchor" id="section_5"></a>

The following code will use of the Pandas `rename()` built-in function to change DataFrame column

In [11]:
# Rename columns

Then, we can run the info() method to print a concise summary of the DataFrame and examine all the changes applied to this tutorial. We can compare the changes below:

In [12]:
# Display DataFrame information

In [13]:
# Display DataFrame